<!DOCTYPE html>
<!-- Course Directory Page  -->
<html>
<!--Inherits site navigation from layout.html -->
{% extends "layout.html" %}
{% block content %}

<head>
<!-- Bootstrap CSS  -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<title>Course Planner 9000</title>
</head>

<body>

<h1>Olin Course Directory</h1>

<!-- Course HTML Table  -->
<table style="width:100%">
  <!-- Table Header Row -->
  <tr>
    <th>Course Title</th>
    <th>Professor</th>
    <th>Credits</th>
  </tr>
</table>

<!-- This is how you iterate over a list in HTML -->
<!-- Adding code in HTML is called Jinja2 -->
<!-- Collapsible Courses -->
<p>
  {% for i in courses %}
    <button type="button" class="collapsible">{{i[2]}}</button>
    <div class="content">
      <!-- Content  -->
      <p>{{i[4]}}</p>
    </div>
  <br><br>
  {% endfor %}
</p>

<!-- JavaScript Support Scripts  -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!-- Script for Collapsible Buttons  -->
<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>

</body>

</html>


<!--Endtag for site navigation-->
{% endblock %}
