<!DOCTYPE html>
<html>
<!--Inherits site navigation from layout.html -->
{% extends "layout.html" %}
{% block content %}

<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<title>Course Planner 9000</title>
</head>

<!-- If anyone can help me find a better way to center this picture vertically  -->
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>


<!-- Logo  -->
<body>
<img src="{{ logo }}" class="rounded mx-auto d-block" alt="logo"  width=683 height=178>
</body>

</html>

<!--Endtag for site navigation-->
{% endblock %}
