<!DOCTYPE html>
<html>
<!--Inherits site navigation from layout.html -->
{% extends "layout.html" %}
{% block content %}

<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<title>Course Planner 9000</title>
</head>

<body>

<h1>This is the Home page</h1>
<p>This is a paragraph.</p>

</body>
<div class="alert alert-primary" role="alert">
            A simple primary alert—check it out!
</div>
</html>

<!--Endtag for site navigation-->
{% endblock %}
