<!DOCTYPE html>
<html>
  <body>
    <header>
      <div class="container">
        <!-- Change the color scheme by switching light to dark or to color code -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">Course Planner 9000</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <!-- Change which is active by including active and the span block -->
              <a class="nav-item nav-link active" href="{{ url_for('home') }}">Home <span class="sr-only">(current)</span></a>
              <a class="nav-item nav-link active" href="{{ url_for('course_dir') }}">Course Directory <span class="sr-only">(current)</span></a>
              <a class="nav-item nav-link active" href="{{ url_for('roadmap') }}" >Roadmap <span class="sr-only">(current)</span></a>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <div class="container">
    <br></br>
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
