<!DOCTYPE html>
<html>
<!--Inherits site navigation from layout.html -->
{% extends "layout.html" %}
{% block content %}

<head>
<link rel="stylesheet" href="{{ url_for('static', filename='../static/styles/roadmap.css') }}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type = "text/css" href = "{{url_for('static', filename = 'styles/course_dir.css')}}">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.4.5/fuse.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script type=text/javascript src="{{url_for('static', filename='js/course_dir.js')}}"></script>



<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script type=text/javascript src="{{url_for('static', filename='js/roadmap.js')}}"></script>



<title>Course Planner 9000</title>

</head>

<!-- <div class="search-container">
  <form action="/action_page.php">
    <input type="text" placeholder="Search.." name="search">
    <button type="submit"><i class="fa fa-search"></i></button>
  </form>
</div> -->

<meta content='width=device-width, initial-scale=1, maximum-scale=1' name='viewport'>


<div class="credits">
  <table>
    <tbody>
      <tr>
        <td>Credits left</td>
        <td><span id=result>0</span></td>
      </tr>
      <tr>
        <td>AHS Credits</td>
        <td>0</td>
      </tr>
      <tr>
        <td>Other Requirements</td>
        <td>0</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Roadmap V2 -->
<div id="main">
  <div class="roadmap">
    <table id="sem1">
      <tr>
        <th>Sem1</th>
        <th>Sem2</th>
      </tr>
      <tr>
        <td>DesNat</td>
        <td>QEA 1</td>
      </tr>
    </table>

  </div>

  <div class="roadmap">
    <table>
      <thead>
        <tr>
          <th>Sem3</th>
          <th>Sem4</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>QEA 3</td>
          <td> </td>
        </tr>
        <tr>
          <td>AstroStats</td>
          <td> </td>
        </tr>
        <tr>
          <td> </td>
          <td> </td>
        </tr>
        <tr>
          <td> </td>
          <td> </td>
        </tr>
        <tr>
          <td> </td>
          <td> </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="roadmap">
    <table>
      <thead>
        <tr>
          <th>Sem5</th>
          <th>Sem6</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>UOCD</td>
          <td> </td>
        </tr>
        <tr>
          <td>ESA</td>
          <td> </td>
        </tr>
        <tr>
          <td> </td>
          <td> </td>
        </tr>
        <tr>
          <td> </td>
          <td> </td>
        </tr>
        <tr>
          <td> </td>
          <td> </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="roadmap">
    <table>
      <thead>
        <tr>
          <th>Sem7</th>
          <th>Sem8</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Elecanisms</td>
          <td>SCOPE</td>
        </tr>
        <tr>
          <td></td>
          <td> </td>
        </tr>
        <tr>
          <td> </td>
          <td> </td>
        </tr>
        <tr>
          <td> </td>
          <td> </td>
        </tr>
        <tr>
          <td> </td>
          <td> </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<!-- Course Directoy Section -->
<div id = "main">
<div class="w3-container" id = "filterholder">
  <b>Course Filter</b>
  <div class="w3-card-4" style="width:94%;">
    <div class="w3-container" style="padding: 0.5em 0 0.5em 0.75em;">
      <div class="filter" id="filterDiv">
        <!-- When using the filter class, you must specify the value attribute.
        This value attribute will be used as a key to which box was checked -->
        <input id="filt_general_req" type="checkbox" value="filtGenGradReq"> General Graduation Requirements<br>
        <input id="filt_monday" type="checkbox" value="M"> Monday<br>
        <input id="filt_tuesday" type="checkbox" value="T"> Tuesday<br>
        <input id="filt_wednesday" type="checkbox" value="W"> Wednesday<br>
        <input id="filt_thursday" type="checkbox" value="R"> Thursday<br>
        <input id="filt_friday" type="checkbox" value="F"> Friday<br>
      </div>
  </div>
</div>
</div>

<!-- Course HTML Table  -->
<div class = "container" id = "table">

<h1>Olin Course Directory</h1>
<table style="width:100%" >
  <!-- Table Header Row -->
  <tr>
    <th>Course Title</th>
    <th>Professor</th>
    <th>Credits</th>
  </tr>
</table>

<div id="courseList" class="accordion"></div>

</div>
</div>




<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>


<!-- CLICK AND DRAG

CLICK AND DRAG ITEMS
    
    
    <div id="mydiv">
  <div id="mydivheader">Class One</div>

</div>

<div id="mydiv2">
    <div id="mydivheader">Class Two</div>

</div>

<script>

// // CLICK AND DRAG

//     //Make the DIV element draggagle:
//     dragElement(document.getElementById("mydiv"));
//     dragElement(document.getElementById("mydiv2"));

//     function dragElement(elmnt) {
//     var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
//     if (document.getElementById(elmnt.id + "header")) {
//         /* if present, the header is where you move the DIV from:*/
//         document.getElementById(elmnt.id + "header").onmousedown = dragMouseDown;
//     } else {
//         /* otherwise, move the DIV from anywhere inside the DIV:*/
//         elmnt.onmousedown = dragMouseDown;
//     }

//     function dragMouseDown(e) {
//         e = e || window.event;
//         e.preventDefault();
//         // get the mouse cursor position at startup:
//         pos3 = e.clientX;
//         pos4 = e.clientY;
//         document.onmouseup = closeDragElement;
//         // call a function whenever the cursor moves:
//         document.onmousemove = elementDrag;
//     }

//     function elementDrag(e) {
//         e = e || window.event;
//         e.preventDefault();
//         // calculate the new cursor position:
//         pos1 = pos3 - e.clientX;
//         pos2 = pos4 - e.clientY;
//         pos3 = e.clientX;
//         pos4 = e.clientY;
//         // set the element's new position:
//         elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
//         elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
//     }

//     function closeDragElement() {
//         /* stop moving when mouse button is released:*/
//         document.onmouseup = null;
//         document.onmousemove = null;
//     }
//     }


</script> -->




<!-- <script type=text/javascript>
  $(function() {a
    $('a#calculate').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/_add_numbers', {
        a: $('input[name="a"]').val(),
        b: $('input[name="b"]').val()
      }, function(data) {
        $("#result").text(data.result);
      });
      return false;
    });
  });
</script> -->

<!-- <h1>jQuery Example</h1>
<p><input type=text size=5 name=a> +
   <input type=text size=5 name=b> =
   <span id=result>?</span>
<p><a href=# id=calculate>calculate server side</a> -->


</html>

<!--Endtag for site navigation-->
{% endblock %}
